body {
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 500px;
}

div {
  margin-bottom: 15px;
}

div label,
div input {
  display: block;
  margin-bottom: 5px;
}

.inline-block {
  display: inline-block;
}
